<link rel="stylesheet" th:href="@{/css/common/main-page.css}">
<div class="content__content-block content-block">
    <div class="content-block__main-block main-block">
        <div class="main-block__useful-info useful-info">
            <div class="useful-info__teacher-block">
                <div class="useful-info__header">
                    <h3 class="useful-info__header-text">Научно-педагогическим работникам</h3>
                </div>
                <div class="useful-info__content">
                    <p class="useful-info__content-text">
                        Инструкция по созданию сайта дисциплины для преподавателей
                        <a href="" class="useful-info__content-link">здесь</a>
                    </p>
                    <p class="useful-info__content-text">
                        Полное руководство пользователя Портала e-learning
                        <a href="" class="useful-info__content-link">здесь</a>
                    </p>
                    <p class="useful-info__content-text">
                        Инструкция по работе с инструментом Teams
                        <a href="" class="useful-info__content-link">здесь</a>
                    </p>
                </div>
            </div>
            <div class="useful-info__owner-block">
                <div class="useful-info__header">
                    <h3 class="useful-info__header-text">Работникам учебных программ</h3>
                </div>
                <div class="useful-info__content">
                    <p class="useful-info__content-text">
                        Уважаемые разработчики учебных программ. В разделе "Основные образовательные программы" размещены все необходимые методические и нормативные документы. Для подключения к этому разделу вам необходимо отправить заявку по адресу
                        <a href="" class="useful-info__content-link">oa@usue.ru</a>
                    </p>
                </div>
            </div>
            <div class="useful-info__student-block">
                <div class="useful-info__header">
                    <h3 class="useful-info__header-text">Студентам, магистрантам и аспирантам</h3>
                </div>
                <div class="useful-info__content">
                    <p class="useful-info__content-text">
                        Инструкция по работе с порталом электронных образовательных ресурсов УрГЭУ
                        <a href="" class="useful-info__content-link">скачать</a>
                    </p>
                    <p class="useful-info__content-text">
                        Инструкция по подключению к открытым сайтам кафедр
                        <a href="" class="useful-info__content-link">скачать</a>
                    </p>
                    <p class="useful-info__content-text">
                        Инструкция по работе с инструментом Team
                        <a href="" class="useful-info__content-link">скачать</a>
                    </p>
                    <p class="useful-info__content-text">
                        Активация и изменение пароля единой учетной записи доступа к сервисам УрГЭУ
                        <a href="" class="useful-info__content-link">ссылка</a>
                    </p>
                    <p class="useful-info__content-text">
                        Портфолио обучающегося
                        <a href="" class="useful-info__content-link">ссылка</a>
                    </p>
                    <p class="useful-info__content-text">
                        Электронные библиотечные системы
                        <a href="" class="useful-info__content-link">ссылка</a>
                    </p>
                    <p class="useful-info__content-text">
                        Сведения об образовательной деятельности УрГЭУ
                        <a href="" class="useful-info__content-link">ссылка</a>
                    </p>
                </div>
            </div>
            <div class="useful-info__footer">
                <p class="useful-info__content-text">
                    По всем вопросам, касающимся доступа к дистрибутивам ПО, перечня ПО установленного в компьютерных классах, выбора или подбора эквивалентных программных продуктов, обучения работы с новым ПО обращайтесь, пожалуйста, по тел. 2-02.
                </p>
                <p class="useful-info__content-text">
                    Вопросы по использованию Портала, получению учетной записи для доступа и т.д., можно задавать по адресу
                    <a href="" class="useful-info__content-link">oa@usue.ru</a>
                </p>
            </div>
        </div>
    </div>
</div>