<!-- Редактирование списка участников -->
<link rel="stylesheet" th:href="@{/css/discipline-tabs/discipline-members/edit-members.css}">

<div class="content__header">
  <a th:href="'http://localhost:8080/portal/discipline/' + ${disciplineId} + '/member-list'" class="content__return-button">Назад</a>
  <h2 class="content__header-text">Редактирование списка участников</h2>
</div>

<div class="content__content-block content-block">
  <div class="content-block__edit-members edit-members">
    <div class="edit-members__input-block input-block">
      <div class="input-block__search-block">
        <div class="search-block__group-search group-search">
          <input class="group-search__input" type="text" name="group" autocomplete="off" placeholder="Название группы" oninput="searchGroups(this.value)">
          <ul class="group-search__results-list" id="group-results"></ul>
        </div>
        <div class="search-block__person-search person-search">
          <input class="person-search__input" type="text" name="person" autocomplete="off" placeholder="ФИО пользователя" oninput="searchUsers(this.value)">
          <ul class="person-search__results-list" id="user-results"></ul>
        </div>
      </div>
    </div>
    <div class="edit-members__output-block output-block">
      <div class="output-block__member-block member-block">
        <div class="member-block__header">
          <p class="member-block__header-text member-block__header-text_members">Участники</p>
          <p class="member-block__header-text member-block__header-text_access">Права</p>
        </div>
        <div class="member-block__member-list member-list" id="result-discipline">
          <div class="member-list__grouping-block" th:each="entry : ${usersByGroup.entrySet()}">
            <div class="member-list__grouping-header">
              <p class="member-list__group-name" th:text="${entry.key}">ИВТ-21-2</p>
              <input class="member-list__group-checkbox checkbox" type="checkbox">
            </div>
            <ul class="member-list__group-members">
              <li class="member-list__member member" th:each="user : ${entry.value}">
                <p class="member__personal-info" th:data-user-username="${user.username}"
                   th:text="${user.getSurname() + ' ' + user.getName() + ' ' + user.getMiddleName()}">Маслов Глеб Олегович</p>
                <button class="member__member-access" onclick="toggleAccessButton(this)" th:text="${user.accessType}">Участник</button>
                <input class="member__member-checkbox checkbox" type="checkbox">
              </li>
            </ul>
          </div>
        </div>
        <div class="member-block__footer">
          <button class="member-block__delete-button member-block__delete-button_target_selected" onclick="deleteSelected()">Удалить выбранное</button>
          <button class="member-block__delete-button member-block__delete-button_target_all" onclick="deleteAll()">Удалить все</button>
        </div>
      </div>
      <button class="output-block__save-button" onclick="saveDiscipline()">Сохранить</button>
    </div>
  </div>
</div>

<script th:src="@{/js/edit-members.js}"></script>
<script th:inline="javascript">
  /*<![CDATA[*/
  const disciplineId = /*[[${disciplineId}]]*/ [];
  const groups = /*[[${groupsAll}]]*/ [];
  const users = /*[[${usersAll}]]*/ [];
  /*]]>*/
</script>