.checked-task-block {
    display: flex;
    flex-direction: column;
    width: max-content;
    max-width: 100%;
    padding: 8px;
    border-radius: 10px;
    background-color: #f4f4f4;
}

.checked-task-block__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding: 8px 16px;
}

.checked-task-block__content {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    border-radius: 10px;
    background-color: #fff;
}

.task-mark__student-mark,
.task-mark__separator,
.task-mark__max-mark
 {
    margin: 0;
    font-size: 16px;
    line-height: 16px;
}


.checked-task-block__task-name {
    margin: 0;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
}

.checked-task-block__task-mark {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checked-task-block__task-instruction {
    padding: 8px 0;
}

.task-instruction__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-instruction__header-text {
    margin: 0;
    font-size: 16px;
    line-height: 16px;
}

.task-instruction__edit-button {
    display: block;
    position: relative;
    max-width: 16px;
    height: 16px;
    padding: 2px 0 2px 16px;
    border-radius: 8px;
    overflow: hidden;
    font-size: 12px;
    line-height: 12px;
    color: #f4f4f4;
    transition: 0.2s ease-out;
    background-color: #f4f4f4;
}

.task-instruction__edit-button::before {
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
}

.task-instruction__content {
    margin-top: 16px;
}

.task-instruction__text {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
}

.checked-task-block__student-response {
    margin-top: 12px;
    padding: 20px 0 8px;
    border-top: 1px solid #999;
}

.student-response__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.student-response__header-container {
    display: flex;
    align-items: center;
}

.student-response__header-text {
    margin: 0;
    font-size: 16px;
    line-height: 16px;
}

.student-response__student-group {
    margin: 0 0 0 16px;
    font-size: 14px;
    line-height: 16px;
    color: #666;
}

.student-response__student-info {
    margin: 0 0 0 16px;
    font-size: 14px;
    line-height: 16px;
    color: #666;
}

.student-response__date {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #666;
}

.student-response__content {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.student-response__text {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
}

.checked-task-block__teacher-response {
    margin-top: 12px;
    padding: 20px 0 8px;
    border-top: 1px solid #999;
}

.teacher-response__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teacher-response__header-text {
    margin: 0;
    font-size: 16px;
    line-height: 16px;
}

.teacher-response__date {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #666;
}

.teacher-response__content {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.teacher-response__text {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
}