.completed-tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  background-color: #f4f4f4;
}

.completed-tasks__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
  padding: 8px 16px;
}

.completed-tasks__additional-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.completed-tasks__column-name {
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
}

.completed-tasks__column-name + .completed-tasks__column-name {
  margin-left: 16px;
}

.completed-tasks__column-name_content_status,
.completed-tasks__column-name_content_delivery {
  width: 112px;
}

.completed-tasks__column-name_content_mark {
  width: 64px;
}

.completed-tasks__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: #fff;
}

.completed-tasks__no-tasks {
  width: 100%;
  padding: 4px 0;
}

.task-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0;
}

.task-container__student-info {
  width: 100%;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.task-container__student-info:hover {
  color: #0075ff;
}

.task-container__student-info,
.task-container__task-delivery {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
}

.task-container__status-list,
.task-container__task-issue,
.task-container__task-delivery {
  min-width: 112px;
  margin-left: 16px;
}

.task-container__status-list,
.task-container__task-mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.task-container__task-mark {
  min-width: 64px;
  margin-left: 16px;
}

.task-container__task-issue,
.task-container__task-delivery {
  text-align: center;
}

.task-container + .task-container {
  border-top: 1px solid #999;
}

.task-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 224px;
}

.task-works__separator {
  margin: 0 4px;
}

.task-mark__student-mark,
.task-mark__separator,
.task-mark__max-mark {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
}

.task-mark__separator {
  margin: 0 4px;
}

.status-list__task-status {
  padding: 4px 8px;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
}

.status-list__task-status_state_in-progress {
  background-color: #eee;
}

.status-list__task-status_state_delivered {
  padding: 3px 8px;
  border: 1px solid #999;
}

.status-list__task-status_state_checked {
  background-color: #B9FEB9;
}

.status-list__task-status_state_rejected {
  background-color: #FFBFBF;
}

.no-tasks__text {
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.15em;
}