.completed-tasks {
    display: flex;
    flex-direction: column;
    min-width: max-content;
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    background-color: #f4f4f4;
}

.completed-tasks__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding: 8px 16px;
}

.completed-tasks__additional-columns {
    display: flex;
    align-items: center;
}

.completed-tasks__column-name {
    margin: 0;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
}

.completed-tasks__column-name + .completed-tasks__column-name {
    margin-left: 16px;
}

.completed-tasks__column-name_content_status,
.completed-tasks__column-name_content_delivery {
    width: 112px;
}

.completed-tasks__column-name_content_mark {
    width: 64px;
}

.completed-tasks__content {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    border-radius: 10px;
    background-color: #fff;
}

.task-container {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.task-container + .task-container {
    border-top: 1px solid #999;
}

.task-container__student-info {
    width: 100%;
    transition: 0.2s ease-out;
}

.task-container__student-info:hover {
    color: #0075ff;
}

.task-works {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 224px;
}

.task-container__student-info,
.task-mark__student-mark,
.task-mark__separator,
.task-mark__max-mark,
.task-container__task-delivery {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
}

.task-container__status-list,
.task-container__task-issue,
.task-container__task-delivery {
    min-width: 112px;
    margin-left: 16px;
}

.task-container__status-list,
.task-container__task-mark {
    display: flex;
    justify-content: center;
}

.status-list__task-status {
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
}

.status-list__task-status_state_in-progress {
    background-color: #eee;
}

.status-list__task-status_state_checked {
    background-color: #B9FEB9;
}

.status-list__task-status_state_rejected {
    background-color: #FFBFBF;
}

.task-container__task-mark {
    min-width: 64px;
    margin-left: 16px;
}

.task-works__separator,
.task-mark__separator {
    margin: 0 4px;
}

.task-container__task-issue,
.task-container__task-delivery {
    text-align: center;
}