.discipline-creation {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.discipline-creation__input-block {
    max-width: 50%;
    width: 50%;
}

.discipline-creation__output-block {
    max-width: 50%;
    width: 50%;
}

.input-block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.input-block__discipline-title {
    width: 100%;
    padding: 8px 16px;
    border: 1px solid #999;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    line-height: 16px;
}

.input-block__search-block {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 32px;
}

.group-search, .person-search {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.group-search {
    max-width: 40%;
/*    min-width: 288px;*/
    width: 40%;
}

.person-search {
    max-width: 60%;
/*    min-width: 288px;*/
    width: 60%;
    margin-left: 16px;
}

.group-search__input,
.person-search__input {
    width: 100%;
    padding: 8px 16px 8px 16px;
    border: 1px solid #999;
    border-radius: 10px;
    outline: none;
    font-size: 14px;
    line-height: 16px;
    z-index: 2;
}

.group-search__results-list,
.person-search__results-list {
    display: none;
    width: 100%;
    margin: -10px 0 0 0;
    padding: 10px 16px 0 16px;
    border: 1px solid #999;
    border-radius: 0 0 10px 10px;
    list-style: none;
}

.group-search__result,
.person-search__result {
    padding: 8px;
}

.group-search__result + .group-search__result,
.person-search__result + .person-search__result {
    border-top: 1px solid #999;    
}

.group-search__group-name,
.person-search__personal-info {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
}

.output-block {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}

.member-block {
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 16px;
    background-color: #f4f4f4;
}

.member-block__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px;
    padding: 8px 16px;
}

.member-block__header_text {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
}

.member-block__header_text_access {
    min-width: 128px;
    margin-right: 36px;
    text-align: center;
}

.member-block__member-list {
    width: 100%;
}

.member-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 488px;
    padding: 8px;
    border-radius: 16px;
    background-color: #fff;
}

.member-list__grouping-block {
    display: flex;
    flex-direction: column;
    border: 1px solid #999;
    border-radius: 8px;
}

.member-list__grouping-block + .member-list__grouping-block {
    margin-top: 8px;
}

.member-list__grouping-header {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    border-radius: 8px 8px 0 0;
    background-color: #fafafa;
}

.member-list__group-name {
    margin: 0;
    font-size: 16px;
    line-height: 16px;
}

.member-list__group-checkbox {
    width: 16px;
    height: 16px;
    margin: 0;
}

.member-list__group-members {
    margin: 0;
    padding: 4px 32px;
    border-radius: 0 0 8px 8px;
    list-style: none;
    background-color: #fff;
}

.member {
    display: flex;
    align-items: center;
    padding: 4px 0;
}

.member + .member {
    border-top: 1px solid #999;
}

.member__personal-info {
    width: 100%;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
}

.member__member-access {
    position: relative;
    padding: 4px 24px 4px 8px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    line-height: 16px;
    color: #666;
    background-color: #fff;
}

.member__member-access::after {
    font-family: 'icomoon';
    content: "\e90c";
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
}

.member__member-access:hover {
    background-color: #f4f4f4;
}

.member__member-checkbox {
    width: 14px;
    height: 14px;
    margin: 0 0 0 16px;
}

.member-block__footer {
    display: flex;
    justify-content: flex-end;
    padding: 8px 0 0 0;
}

.member-block__delete-button {
    margin: 0 0 0 16px;
    padding: 4px 16px;
    border: none;
    border-radius: 8px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0.15em;
    background-color: #fff;
}

.member-block__delete-button + .member-block__delete-button {
    margin-left: 16px;
}

.output-block__save-button {
    width: 100%;
    margin-top: 32px;
    padding: 16px;
    border: none;
    border-radius: 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0.15em;
    background-color: #eee;
    transition: 0.2s ease-out;
}

.output-block__save-button:hover {
    background-color: #ddd;
}