.discipline-block {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.discipline-block__your-disciplines,
.discipline-block__open-disciplines {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px;
    border-radius: 16px;
    background-color: #f4f4f4;
}

.discipline-block__open-disciplines {
    margin-top: 16px;
}

.discipline-block__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 8px;
    padding: 8px 40px 8px 16px;
}

.discipline-block__column-name {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
}

.discipline-block__toggle-list {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 4px;
    background-color: #eee;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.discipline-block__toggle-list:hover {
    background-color: #ddd;
}

.discipline-block__toggle-list::after {
    content: "▼";
    position: absolute;
    top: 50%;
    left: 50%;
    color: #444;
    transition: 0.1s ease-out;
}

.discipline-block__toggle-list_state_unfolded::after {
    transform: translate(-50%, -50%) scaleY(1);
}

.discipline-block__toggle-list_state_folded::after {
    transform: translate(-50%, -50%) scaleY(-1);
}

.discipline-block__discipline-list {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    border-radius: 10px;
    background-color: #fff;
}

.discipline-list__item {
    display: flex;
    align-items: center;
    padding: 8px 0;
    transition: 0.2s ease-out;
}

.discipline-list__item + .discipline-list__item {
    border-top: 1px solid #999;
}

.discipline-list__discipline,
.discipline-list__owner {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
}

.discipline-list__discipline {
    width: 100%;
    transition: 0.2s ease-out;
}

.discipline-list__discipline:hover {
    color: #0075ff;
}

.discipline-list__owner {
    width: fit-content;
    text-align: right;
    text-wrap: nowrap;
}