@charset "UTF-8";

.task-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 8px;
  border-radius: 16px;
  background-color: #f4f4f4;
}

.task-block__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px 0;
}

.task-block__header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
}

.task-block__task-name {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.task-block__task-mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.task-block__header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
  padding: 4px 16px;
  border-radius: 8px;
  background-color: #fff;
}

.task-block__issue,
.task-block__delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task-block__issue-text,
.task-block__delivery-text,
.task-block__issue-date,
.task-block__delivery-date {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
}

.task-block__issue-date,
.task-block__delivery-date {
  margin-left: 8px;
  font-weight: 300;
}

.task-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #fff;
}

.task-block__task-instruction {
  padding: 8px 0;
}

.task-block__student-response {
  margin-top: 12px;
  padding: 20px 0 8px;
  border-top: 1px solid #999;
}

.task-mark__student-mark,
.task-mark__separator,
.task-mark__max-mark {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.1em;
}

.task-instruction__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task-instruction__header-text {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
}

.task-instruction__edit-button {
  display: block;
  position: relative;
  max-width: 16px;
  height: 16px;
  padding: 2px 0 2px 16px;
  border-radius: 8px;
  overflow: hidden;
  font-size: 12px;
  line-height: 12px;
  color: #f4f4f4;
  background-color: #f4f4f4;
}

.task-instruction__edit-button::before {
  position: absolute;
  top: 50%;
  left: 2px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

.task-instruction__content {
  margin: 16px 0 0 16px;
}

.task-instruction__text {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  outline: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.task-instruction__file-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.task-instruction__file {
  position: relative;
  margin: 0;
  padding: 0 0 0 24px;
  font-size: 14px;
  line-height: 16px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.task-instruction__file:hover {
  color: #0075ff;
}

.task-instruction__file::before {
  font-family: "icomoon";
  content: "\e91a";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 16px;
  line-height: 16px;
  color: #444;
}

.task-instruction__file + .task-instruction__file {
  margin-top: 8px;
}

.student-response__header {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
}

.student-response__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 16px;
}

.student-response__feedback {
  width: 100%;
  min-height: 64px;
  max-height: 448px;
  padding: 8px 16px;
  border: 1px solid #999;
  border-radius: 8px;
  resize: none;
  overflow: hidden;
  font-size: 14px;
  outline: none;
  line-height: 16px;
}

.student-response__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.student-response__action-block {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.action-block__file-attachment-container {
  width: 100%;
  border-radius: 8px;
  background-color: #f4f4f4;
}

.action-block__submit-button {
  margin-left: 16px;
  padding: 8px 32px;
  border: none;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0.15em;
  text-wrap: nowrap;
  background-color: #eee;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.action-block__submit-button:hover {
  background-color: #ddd;
}

.file-attachment-container__file-attachment-area {
  position: relative;
  width: 100%;
  height: 32px;
  border: 2px dashed #999;
  border-radius: 8px;
}

.file-attachment-container__file-attachment-area::after {
  content: "+ Прикрепить файлы";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-wrap: nowrap;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0.15em;
}

.file-attachment-container__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 5;
}

.file-attachment-container__file-list {
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 4px 8px;
}

.file-attachment-container__file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px 4px 0;
  padding: 4px 4px 4px 8px;
  border: 1px solid #999;
  border-radius: 10px;
  background-color: #fff;
}

.file-attachment-container__file-name {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.file-attachment-container__file-name:hover {
  color: #0075ff;
}

.file-attachment-container__delete-button {
  position: relative;
  width: 12px;
  height: 12px;
  margin-left: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.file-attachment-container__delete-button::after {
  font-family: "icomoon";
  content: "\e904";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.file-attachment-container__delete-button:hover::after {
  color: #f00;
}