<link rel="stylesheet" th:href="@{/css/discipline-tabs/discipline-file-sharing/discipline-file-sharing.css}">

<div class="content__header">
    <h2 class="content__header-text">Обмен файлами</h2>
</div>

<div class="content-block content">
    <div class="content__file-sharing file-sharing">
        <div class="file-sharing__header">
            <span class="file-sharing__main-column">
                <p class="file-sharing__column-name file-sharing__column-name_content_files">Файлы</p>
            </span>
            <span class="file-sharing__additional-columns">
                <p class="file-sharing__column-name file-sharing__column-name_content_actions">Действия</p>
                <p class="file-sharing__column-name file-sharing__column-name_content_add-date">Дата добавления</p>
            </span>
        </div>
        <div class="file-sharing__content">
            <div class="file-sharing__folder-container folder-container">
                <div class="folder-container__folder folder folder_main">
                    <p class="folder__name">Основная папка</p>
                    <div class="folder__action-list action-list">
                        <button class="action-list__button action-list__button_purpose_attach-file" onclick="openAddFileWindow()"></button>
                    </div>
                </div>
                <div class="folder-container__folder-content folder-content">
                    <ul class="folder-content__nested-list" id="file-container"></ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overlay"></div>
<div class="popup popup_add_file" id="addFilePopup">
    <div class="popup__container">
        <button class="popup__close-button" onclick="closePopup()"></button>
        <div class="add-file popup__add-file">
            <div class="add-file__file-attachment-area">
                <input type="file" class="add-file__adding-input">
            </div>
            <button class="add-file__submit-button" onclick="saveFile(this)">Сохранить</button>
        </div>
    </div>
</div>

<div class="popup popup_delete-confirmation" id="deleteFilePopup">
    <div class="popup__container">
        <button class="popup__close-button" onclick="closePopup()"></button>
        <div class="delete-confirmation popup__delete-confirmation">
            <p class="delete-confirmation__warning">Вы уверены, что хотите удалить этот элемент?</p>
            <div class="delete-confirmation__button-container">
                <button class="delete-confirmation__button delete-confirmation__button_confirm"
                        id="deleteFileButtonConfirm" onclick="deleteFile(this)">Да</button>
                <button class="delete-confirmation__button delete-confirmation__button_decline" onclick="closePopup()">Нет</button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/discipline-file-sharing-student.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    const files = /*[[${files}]]*/ [];
    const disciplineId = /*[[${disciplineId}]]*/ [];
    /*]]>*/
</script>