<link rel="stylesheet" th:href="@{/css/fragments/basic-information.css}">
<div class="content__content-block content-block">
    <div class="content-block__basic-information basic-information">
        <div class="basic-information__discipline-information discipline-information">
            <div class="discipline-information__header">
                <h3 class="discipline-information__header-text">Информация о дисциплине</h3>
            </div>
            <div class="discipline-information__content">
                <p class="discipline-information__content-text">
                    В данном блоке будет располагаться краткая информация о предмете. О чем будет курс, какие навыки получат студенты и какие перспективы их ожидают потом (в какой сфере может пригодиться данная дисциплина). В данном блоке будет располагаться краткая информация о предмете. О чем будет курс, какие навыки получат студенты и какие перспективы их ожидают потом (в какой сфере может пригодиться данная дисциплина).<br>
                    <br>
                    В данном блоке будет располагаться краткая информация о предмете. О чем будет курс, какие навыки получат студенты и какие перспективы их ожидают потом (в какой сфере может пригодиться данная дисциплина). В данном блоке будет располагаться краткая информация о предмете. О чем будет курс, какие навыки получат студенты и какие перспективы их ожидают потом (в какой сфере может пригодиться данная дисциплина).<br>
                    <br>
                    В данном блоке будет располагаться краткая информация о предмете. О чем будет курс, какие навыки получат студенты и какие перспективы их ожидают потом (в какой сфере может пригодиться данная дисциплина).
                </p>
            </div>
        </div>
        <div class="basic-information__teacher-information teacher-information">
            <div class="teacher-information__personal-information personal-information">
                <div class="personal-information__header">
                    <h3 class="personal-information__header-text">Информация о преподавателе</h3>
                </div>
                <div class="personal-information__content">
                    <div class="personal-information__text-block">
                        <p class="personal-information__text">
                            Фамилия Имя Отчество
                        </p>
                        <p class="personal-information__text">
                            Стаж: 6 лет
                        </p>
                        <p class="personal-information__text">
                            Специальность: Информационная безопасность
                        </p>
                    </div>
                    <img src="" alt="" class="personal-information__teacher-image">
                </div>
            </div>
            <div class="teacher-information__teacher-contacts teacher-contacts">
                <div class="teacher-contacts__header">
                    <h3 class="teacher-contacts__header-text">Контактные данные преподавателя</h3>
                </div>
                <div class="teacher-contacts__content">
                    <span class="teacher-contacts__contact">
                        <p class="teacher-contacts__platform">Электронная почта:</p>
                        <a href="" class="teacher-contacts__link">email</a>
                    </span>
                    <span class="teacher-contacts__contact">
                        <p class="teacher-contacts__platform">Teams:</p>
                        <a href="" class="teacher-contacts__link">ссылка</a>
                    </span>
                    <span class="teacher-contacts__contact">
                        <p class="teacher-contacts__platform">Телеграм:</p>
                        <a href="" class="teacher-contacts__link">ссылка</a>
                    </span>
                    <span class="teacher-contacts__contact">
                        <p class="teacher-contacts__platform">Вк:</p>
                        <a href="" class="teacher-contacts__link">ссылка</a>
                    </span>
                    <span class="teacher-contacts__contact">
                        <p class="teacher-contacts__platform">Discord:</p>
                        <a href="" class="teacher-contacts__link">To4e4ki...</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>