<h2 class="content__header">Создание дисциплины</h2>
<div class="content__content-block content-block">
    <div class="content-block__input-block input-block">
        <input class="input-block__discipline-title" type="text" name="disciplineTitle"
               placeholder="Название дисциплины" id="discipline-name">
        <div class="input-block__search-block">
            <div class="search-block__group-search group-search">
                <form action="" class="group-search__form">
                    <input class="group-search__input" type="text" name="group" autocomplete="off"
                           placeholder="Название группы" oninput="searchGroups(this.value)">
                </form>
                <ul class="group-search__results-list" id="group-results"></ul>
            </div>
            <div class="search-block__person-search person-search">
                <form action="" class="person-search__form">
                    <input class="person-search__input" type="text" name="person"
                           placeholder="ФИО студента" oninput="searchUsers(this.value)">
                </form>
                <ul class="person-search__results-list" id="user-results"></ul>
            </div>
        </div>
    </div>
    <div class="content-block__output-block output-block">
        <div class="output-block__member-block member-block">
            <h3 class="member-block__header">Список участников</h3>
            <div class="member-block__member-list member-list" id="result-discipline"></div>
            <div class="member-block__footer">
                <button class="member-block__delete-button member-block__delete-button_target_selected" onclick="deleteSelected()">Удалить выбранное</button>
                <button class="member-block__delete-button member-block__delete-button_target_all" onclick="deleteAll()">Удалить все</button>
            </div>
        </div>
        <button class="output-block__save-button" onclick="createDiscipline()">Сохранить</button>
    </div>
</div>
<script th:src="@{/js/create-discipline.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    const groups = /*[[${groups}]]*/ [];
    const users = /*[[${users}]]*/ [];
    /*]]>*/
</script>
