<h2 class="content__header">Создание дисциплины</h2>
<div class="content__content-block content-block">
    <div class="content-block__input-block input-block">
        <input class="input-block__discipline-title" type="text" name="disciplineTitle">
        <div class="input-block__search-block">
            <div class="search-block__group-search group-search">
                <form action="" class="group-search__form">
                    <input class="group-search__input" type="text" name="group" autocomplete="off">
                    <button class="group-search__submit"></button>
                </form>
                <ul class="group-search__results-list">
                    <li class="group-search__result">
                        <input type="checkbox" class="group-search__checkbox checkbox">
                        <p class="group-search__group-name">ИВТ-21-1</p>
                    </li>
                    <li class="group-search__result">
                        <input type="checkbox" class="group-search__checkbox checkbox">
                        <p class="group-search__group-name">ИВТ-21-2</p>
                    </li>
                    <li class="group-search__result">
                        <input type="checkbox" class="group-search__checkbox checkbox">
                        <p class="group-search__group-name">ИВТ-20-1</p>
                    </li>
                    <li class="group-search__result">
                        <input type="checkbox" class="group-search__checkbox checkbox">
                        <p class="group-search__group-name">ИВТ-20-2</p>
                    </li>
                </ul>
            </div>
            <div class="search-block__person-search person-search">
                <form action="" class="person-search__form">
                    <input class="person-search__input" type="text" name="person">
                    <button class="person-search__submit"></button>
                </form>
                <ul class="person-search__results-list">
                    <li class="person-search__result">
                        <input type="checkbox" class="person-search__checkbox checkbox">
                        <span class="person-search__personal-info">
                                                <p class="person-search__surname">Маслов</p>
                                                <p class="person-search__name">Глеб</p>
                                                <p class="person-search__patronymic">Олегович</p>
                                            </span>
                    </li>
                    <li class="person-search__result">
                        <input type="checkbox" class="person-search__checkbox checkbox">
                        <span class="person-search__personal-info">
                                                <p class="person-search__surname">Сидоров</p>
                                                <p class="person-search__name">Сергей</p>
                                                <p class="person-search__patronymic">Александрович</p>
                                            </span>
                    </li>
                    <li class="person-search__result">
                        <input type="checkbox" class="person-search__checkbox checkbox">
                        <span class="person-search__personal-info">
                                                <p class="person-search__surname">Сорокин</p>
                                                <p class="person-search__name">Михаил</p>
                                                <p class="person-search__patronymic">Александрович</p>
                                            </span>
                    </li>
                </ul>
            </div>
        </div>
        <button class="input-block__add-button">Добавить</button>
    </div>
    <div class="content-block__output-block output-block">
        <div class="output-block__member-block member-block">
            <h3 class="member-block__header">Список участников</h3>
            <div class="member-block__member-list member-list">
                <div class="member-list__grouping-block">
                    <div class="member-list__grouping-header">
                        <p class="member-list__group-name">ИВТ-21-2</p>
                        <input class="member-list__group-checkbox checkbox" type="checkbox">
                    </div>
                    <ul class="member-list__group-members">
                        <li class="member-list__member member">
                                                <span class="member__personal-info">
                                                    <p class="member__surname">Маслов</p>
                                                    <p class="member__name">Глеб</p>
                                                    <p class="member__patronymic">Олегович</p>
                                                </span>
                            <input class="member__member-checkbox checkbox" type="checkbox">
                        </li>
                        <li class="member-list__member member">
                                                <span class="member__personal-info">
                                                    <p class="member__surname">Сидоров</p>
                                                    <p class="member__name">Сергей</p>
                                                    <p class="member__patronymic">Александрович</p>
                                                </span>
                            <input class="member__member-checkbox checkbox" type="checkbox">
                        </li>
                        <li class="member-list__member member">
                                                <span class="member__personal-info">
                                                    <p class="member__surname">Сорокин</p>
                                                    <p class="member__name">Михаил</p>
                                                    <p class="member__patronymic">Александрович</p>
                                                </span>
                            <input class="member__member-checkbox checkbox" type="checkbox">
                        </li>
                    </ul>
                </div>
                <div class="member-list__grouping-block">
                    <div class="member-list__grouping-header">
                        <p class="member-list__group-name">ИВТ-21-2</p>
                        <input class="member-list__group-checkbox checkbox" type="checkbox">
                    </div>
                    <ul class="member-list__group-members">
                        <li class="member-list__member member">
                                                <span class="member__personal-info">
                                                    <p class="member__surname">Маслов</p>
                                                    <p class="member__name">Глеб</p>
                                                    <p class="member__patronymic">Олегович</p>
                                                </span>
                            <input class="member__member-checkbox checkbox" type="checkbox">
                        </li>
                        <li class="member-list__member member">
                                                <span class="member__personal-info">
                                                    <p class="member__surname">Сидоров</p>
                                                    <p class="member__name">Сергей</p>
                                                    <p class="member__patronymic">Александрович</p>
                                                </span>
                            <input class="member__member-checkbox checkbox" type="checkbox">
                        </li>
                        <li class="member-list__member member">
                                                <span class="member__personal-info">
                                                    <p class="member__surname">Сорокин</p>
                                                    <p class="member__name">Михаил</p>
                                                    <p class="member__patronymic">Александрович</p>
                                                </span>
                            <input class="member__member-checkbox checkbox" type="checkbox">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="member-block__footer">
                <button class="member-block__delete-button member-block__delete-button_target_selected">Удалить
                    выбранное
                </button>
                <button class="member-block__delete-button member-block__delete-button_target_all">Удалить все</button>
            </div>
        </div>
        <button class="output-block__save-button">Сохранить</button>
    </div>
</div>