<nav class="discipline-list__tab-navigation tab-navigation" th:data-discipline-nav="${discipline.id}">
    <ul class="tab-navigation__tab-list">
        <li class="tab-navigation__tab">
            <a th:href="'http://localhost:8080/portal/discipline/' + ${discipline.id} + '/information'"
               class="tab-navigation__link tab-navigation__link_selection_unselected"
               data-discipline-category="information">Основная информация</a>
        </li>
        <li class="tab-navigation__tab">
            <a th:href="'http://localhost:8080/portal/discipline/' + ${discipline.id} + '/advertisement'"
               class="tab-navigation__link tab-navigation__link_selection_unselected"
               data-discipline-category="advertisement">Объявления</a>
        </li>
        <li class="tab-navigation__tab">
            <a th:href="'http://localhost:8080/portal/discipline/' + ${discipline.id} + '/modules'"
               class="tab-navigation__link tab-navigation__link_selection_unselected"
               data-discipline-category="modules">Модули</a>
        </li>
        <li class="tab-navigation__tab">
            <a th:href="'http://localhost:8080/portal/discipline/' + ${discipline.id} + '/resources'"
               class="tab-navigation__link tab-navigation__link_selection_unselected"
               data-discipline-category="resources">Ресурсы</a>
        </li>
        <li class="tab-navigation__tab">
            <a th:href="'http://localhost:8080/portal/discipline/' + ${discipline.id} + '/tasks'"
               class="tab-navigation__link tab-navigation__link_selection_unselected"
               data-discipline-category="tasks">Задания</a>
        </li>
        <li class="tab-navigation__tab">
            <a th:href="'http://localhost:8080/portal/discipline/' + ${discipline.id} + '/testing'"
               class="tab-navigation__link tab-navigation__link_selection_unselected"
               data-discipline-category="testing">Тестирование</a>
        </li>
        <li class="tab-navigation__tab">
            <a th:href="'http://localhost:8080/portal/discipline/' + ${discipline.id} + '/file-sharing'"
               class="tab-navigation__link tab-navigation__link_selection_unselected"
               data-discipline-category="file-sharing">Обмен файлами</a>
        </li>
        <li class="tab-navigation__tab">
            <a th:href="'http://localhost:8080/portal/discipline/' + ${discipline.id} + '/list-of-participants'"
               class="tab-navigation__link tab-navigation__link_selection_unselected"
               data-discipline-category="list-of-participants">Список участников</a>
        </li>
    </ul>
</nav>
