<link rel="stylesheet" th:href="@{/css/fragments/discipline-information.css}">
<div class="content__header">
    <h2 class="content__header-text">Основная информации</h2>
    <span class="content__interaction-buttons interaction-buttons" th:if="${authorities}">
        <a th:href="'http://localhost:8080/portal/discipline/' + ${disciplineId} + '/information/edit-information'" class="interaction-buttons__button interaction-buttons__button_purpose_edit" onmouseenter="expandButtonText(this)" onmouseleave="hideButtonText(this)">Изменить</a>
    </span>
</div>
<div class="content__content-block content-block">
    <div class="content-block__basic-information basic-information">
        <div class="basic-information__discipline-information discipline-information">
            <div class="discipline-information__header">
                <h3 class="discipline-information__header-text">Информация о дисциплине</h3>
            </div>
            <textarea class="discipline-information__content" readonly th:text="${information.informationOfDiscipline}"></textarea>
        </div>
        <div class="basic-information__teacher-information teacher-information">
            <div class="teacher-information__personal-information personal-information">
                <div class="personal-information__header">
                    <h3 class="personal-information__header-text">Информация о преподавателе</h3>
                </div>
                <textarea class="personal-information__content" readonly th:text="${information.informationOfTeacher}"></textarea>
            </div>
            <div class="teacher-information__teacher-contacts teacher-contacts">
                <div class="teacher-contacts__header">
                    <h3 class="teacher-contacts__header-text">Контактные данные преподавателя</h3>
                </div>
                <textarea class="teacher-contacts__content" readonly th:text="${information.contacts}"></textarea>
            </div>
        </div>
    </div>
</div>