<nav class="discipline-list__tab-navigation tab-navigation">
    <ul class="tab-navigation__tab-list">
        <li class="tab-navigation__tab">
            <a href="" class="tab-navigation_link">Основная информация</a>
        </li>
        <li class="tab-navigation__tab">
            <a href="" class="tab-navigation_link">Объявления</a>
        </li>
        <li class="tab-navigation__tab">
            <a href="" class="tab-navigation_link">Модули</a>
        </li>
        <li class="tab-navigation__tab">
            <a href="" class="tab-navigation_link">Ресурсы</a>
        </li>
        <li class="tab-navigation__tab">
            <a href="" class="tab-navigation_link">Задания</a>
        </li>
        <li class="tab-navigation__tab">
            <a href="" class="tab-navigation_link">Тестирование</a>
        </li>
        <li class="tab-navigation__tab">
            <a href="" class="tab-navigation_link">Обмен файлами</a>
        </li>
        <li class="tab-navigation__tab">
            <a href="" class="tab-navigation_link">Список участников</a>
        </li>
    </ul>
</nav>
