<link rel="stylesheet" th:href="@{/css/fragments/discipline-announcements.css}">
<div class="content__header">
    <h2 class="content__header-text">Объявления</h2>
    <span class="content__interaction-buttons interaction-buttons" th:if="${authorities}">
        <a th:href="'http://localhost:8080/portal/discipline/' + ${disciplineId} + '/advertisements/create-advertisement'" class="interaction-buttons__button interaction-buttons__button_purpose_create" onmouseenter="expandButtonText(this)" onmouseleave="hideButtonText(this)">Создать</a>
    </span>
</div>
<div class="content__content-block content-block">
    <div class="content-block__advertisements">
        <div class="no-advertisements content-block__no-advertisements" th:if="${#lists.isEmpty(advertisements)}">
            <p class="no-advertisements__text">На данный момент объявления отсутствуют</p>
        </div>
        <article class="content-block__advertisement advertisement" th:each="advertisement : ${advertisements}">
            <div class="advertisement__header">
                <h3 class="advertisement__header-text" th:text="${advertisement.name}">Тема объявления</h3>
                <a th:if="${authorities}"
                   th:href="'http://localhost:8080/portal/discipline/' + ${disciplineId} + '/advertisements/' + ${advertisement.id} +'/edit-advertisement'"
                   class="advertisement__edit-button" onmouseenter="addEditButtonTextTwo(this)" onmouseleave="removeEditButtonTextTwo(this)">Редактировать</a>
            </div>
            <div class="advertisement__content">
                <textarea class="advertisement__content-text" readonly th:text="${advertisement.content}"></textarea>
            </div>
            <div class="advertisement__footer">
                <p class="advertisement__author"
                   th:text="'Автор: ' + ${advertisement.user.surname} + ' ' + ${advertisement.user.name} + ' ' + ${advertisement.user.middleName}">Автор: ФИО</p>
                <p class="advertisement__date" th:text="${advertisement.formattedDate}">01 января 2024г.</p>
            </div>
        </article>
    </div>
</div>