<div class="content__header">
    <h2 class="content__header-text">Список дисциплин</h2>
    <span class="content__interaction-buttons interaction-buttons" th:if="${#authorization.expression('hasRole(''ROLE_TEACHER'') or hasRole(''ROLE_ADMIN'')')}">
        <a href="http://localhost:8080/portal/disciplines/create" class="interaction-buttons__button interaction-buttons__button_purpose_create" onmouseenter="expandButtonText(this)" onmouseleave="hideButtonText(this)">Создать</a>
        <a href="" class="interaction-buttons__button interaction-buttons__button_purpose_edit" onmouseenter="expandButtonText(this)" onmouseleave="hideButtonText(this)">Изменить</a>
        <a href="" class="interaction-buttons__button interaction-buttons__button_purpose_delete" onmouseenter="expandButtonText(this)" onmouseleave="hideButtonText(this)">Удалить</a>
    </span>
</div>