<link rel="stylesheet" th:href="@{/css/fragments/discipline-file-sharing.css}">

<div class="content__header">
  <h2 class="content__header-text">Обмен файлами</h2>
</div>

<div class="content-block content">
  <div class="content__file-sharing file-sharing">
    <div class="file-sharing__header">
      <span class="file-sharing__main-column">
        <p class="file-sharing__column-name file-sharing__column-name_content_files">Файлы</p>
      </span>
      <span class="file-sharing__additional-columns">
        <p class="file-sharing__column-name file-sharing__column-name_content_add-date">Дата добавления</p>
      </span>
    </div>
    <div class="file-sharing__content"></div>
  </div>
</div>

<script th:src="@{/js/discipline-file-sharing-teacher.js}"></script>
<script th:inline="javascript">
  /*<![CDATA[*/
  const files = /*[[${files}]]*/ [];
  const folders = /*[[${folders}]]*/ [];
  /*]]>*/
</script>