<h2 class="content__header">Список участников</h2>
<div class="content__content-block content-block">
    <div class="content-block__links-list" th:if="${#authorization.expression('hasRole(''ROLE_TEACHER'') or hasRole(''ROLE_ADMIN'')')}">
        <a href="" class="content-block__link content-block__link_assignment_edit">Редактировать</a>
    </div>
</div>
<div class="content__content-block content-block">
    <div class="content-block__member-block member-block">
        <div class="member-block__header member-header">
            <h3 class="member-header__column-name">Участник</h3>
            <h3 class="member-header__column-name">Должность</h3>
        </div>
        <div class="member-block__member-list member-list">
            <div class="member-list__grouping-block" th:each="entry : ${usersByGroup.entrySet()}">
                <div class="member-list__grouping-header">
                    <p class="member-list__group-name" th:text="${entry.key}">Имя группы</p>
                </div>
                <ul class="member-list__group-members">
                    <li class="member-list__member member" th:each="user : ${entry.value}">
                        <p class="member__personal-info" th:text="${user.getName() + ' ' + user.getSurname() + ' ' + user.getMiddleName()}">ФИО пользователя</p>
                        <p class="member__role" th:text="${entry.key eq 'Преподаватель' ? 'Преподаватель' : (entry.key eq 'Администратор' ? 'Администратор' : (entry.key eq 'Гость' ? 'Гость' : 'Студент'))}"></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="member-block__footer"></div>
    </div>
</div>