<div class="content__content-block content-block">
  <div class="content-block__task-block task-block">
    <div class="task-block__header">
                                <span class="task-block__main-column">
                                    <p class="task-block__column-name task-block__column-name_content_tasks">Задание</p>
                                </span>
      <span class="task-block__additional-columns">
                                    <p class="task-block__column-name task-block__column-name_content_status">Статус</p>
                                    <p class="task-block__column-name task-block__column-name_content_mark">Оценка</p>
                                    <p class="task-block__column-name task-block__column-name_content_issue">Выдача</p>
                                    <p class="task-block__column-name task-block__column-name_content_delivery">Сдача</p>
                                </span>
    </div>
    <div class="task-block__content">
      <div class="task-block__task task-container">
        <a class="task-container__task-name" href="">Лабораторная работа №1</a>
        <div class="task-container__status-list status-list">
          <span class="status-list__task-status status-list__task-status_state_pending">Ожидает</span>
          <span class="status-list__task-status status-list__task-status_state_in-progress">В работе</span>
          <span class="status-list__task-status status-list__task-status_state_delivered">Сдано</span>
          <span class="status-list__task-status status-list__task-status_state_checked">Проверено</span>
          <span class="status-list__task-status status-list__task-status_state_rejected">Откланено</span>
        </div>
        <span class="task-container__task-mark task-mark">
                                        <p class="task-mark__student-mark">10</p>
                                        <p class="task-mark__separator"> / </p>
                                        <p class="task-mark__max-mark">10</p>
                                    </span>
        <p class="task-container__task-issue">дд.мм.гг</p>
        <p class="task-container__task-delivery">дд.мм.гг</p>
      </div>
    </div>
  </div>
</div>