<link rel="stylesheet" th:href="@{/css/fragments/task-check.css}">
<div class="content__content-block content-block" style="display: none;">
    <div class="content-block__task-check-block task-check-block">
        <div class="task-check-block__header">
            <h3 class="task-check-block__task-name">Лабораторная работа №1</h3>
            <span class="task-check-block__task-mark task-mark">
                <input class="task-check-block__student-mark-input" type="number" placeholder="Оценка">
                <p class="task-mark__separator"> / </p>
                <p class="task-mark__max-mark">10</p>
            </span>
        </div>
        <div class="task-check-block__content">
            <div class="task-check-block__task-instruction task-instruction">
                <div class="task-instruction__header">
                    <p class="task-instruction__header-text">Инструкции к заданию</p>
                </div>
                <div class="task-instruction__content">
                    <p class="task-instruction__text">Для выполнения задания вам потребуется проделать следующие шаги:</p>
                </div>
            </div>
            <div class="task-check-block__student-response student-response">
                <div class="student-response__header">
                    <p class="student-response__header-text">Ответ стедента</p>
                    <p class="student-response__student-group">ИВТ-21-2</p>
                    <p class="student-response__student-info">Маслов Глеб Олегович</p>
                </div>
                <div class="student-response__content">
                    <p class="student-response__text">Я решил это задание по методике, описанной вами на лекции. В решении возникли некоторые трудности с подбором правитьного занчения, поэтому я остановился на ближайшем к целому ответе.</p>

                </div>
            </div>
            <div class="task-check-block__teacher-response teacher-response">
                <div class="teacher-response__header">
                    <p class="teacher-response__header-text">Ответ преподавателя</p>
                </div>
                <div class="teacher-response__content">
                    <textarea class="teacher-response__feedback" name="" id="" oninput="autoGrow(this)"></textarea>
                    <div class="teacher-response__container">
                        <div class="teacher-response__file-attachment-area">+ Прекрепить файл</div>
                        <button class="teacher-response__submit-button">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>