<link rel="stylesheet" th:href="@{/css/fragments/task.css}">
<h2 class="content__header">Задание</h2>
<div class="content__content-block content-block">
    <div class="content-block__task-block task-block">
        <div class="task-block__header">
            <h3 class="task-block__task-name" th:text="${task.name}">Лабораторная работа №1</h3>
            <p class="task-block__task-mark" th:text="'Максимальная оценка: ' + ${task.maxScore} + ' баллов'"></p>
        </div>
        <div class="task-block__content">
            <div class="task-block__task-instruction task-instruction">
                <div class="task-instruction__header">
                    <p class="task-instruction__header-text">Инструкции к заданию</p>
                    <div th:if="${authorities}">
                        <a th:href="'http://localhost:8080/portal/discipline/' + ${disciplineId} + '/task-list/' + ${task.id} + '/edit'"
                           class="task-instruction__edit-button" title="Редактирование"
                           onmouseenter="addEditButtonText(this)" onmouseleave="removeEditButtonText(this)">Редактировать</a>
                    </div>
                </div>
                <div class="task-instruction__content">
                    <p class="task-instruction__text" th:text="${task.instruction}">Для выполнения задания вам потребуется проделать следующие шаги:</p>
                </div>
                <p th:text="'Дата выдачи: ' + ${task.formattedDateTimeIssue}"></p>
                <p th:text="'Срок сдачи: ' +${task.formattedDateTimeDelivery}"></p>
                <div th:if="${task.sending}">
                    <hr>
                    <p th:text="'Статус задания: ' +${task.status}"></p>
                    <p th:text="'Дата сдачи работы: ' +${task.dateDelivery}"></p>
                    <textarea class="student-response__feedback" oninput="autoGrow(this)" th:text="${task.commentStudent}"
                              placeholder="Комментарий к заданию для преподавателя"></textarea>
                </div>
            </div>
            <div th:if="${!authorities} and ${!task.sending}" class="task-block__student-response student-response">
                <p class="student-response__header">Сдача задания</p>
                <div class="student-response__content">
                    <textarea id="comment-to-task" class="student-response__feedback" oninput="autoGrow(this)" placeholder="Комментарий к заданию для преподавателя"></textarea>
                    <div class="student-response__container">
                        <div class="student-response__file-attachment-area">+ Прикрепить файл</div>
                        <button class="student-response__submit-button" th:data-taskId="${task.id}" th:data-disciplineId="${disciplineId}" onclick="sendTask(this)">Сдать работу</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/task.js}"></script>