<h2 class="content__header">Задания</h2>
<div class="content__content-block content-block">
    <div class="content-block__links-list" th:if="${#authorization.expression('hasRole(''ROLE_TEACHER'') or hasRole(''ROLE_ADMIN'')')}">
        <a th:href="'http://localhost:8080/portal/discipline/' + ${disciplineId} + '/task-list/create'"
           class="content-block__link content-block__link_assignment_create">Создать</a>
        <a href="" class="content-block__link content-block__link_assignment_edit">Редактировать</a>
        <a href="" class="content-block__link content-block__link_assignment_delete">Удалить</a>
    </div>
</div>
<div class="content__content-block content-block">
  <div class="content-block__task-block task-block">
    <div class="task-block__header">
        <span class="task-block__main-column">
            <p class="task-block__column-name task-block__column-name_content_tasks">Задание</p>
        </span>
      <span class="task-block__additional-columns">
          <p class="task-block__column-name task-block__column-name_content_status">Статус</p>
          <p class="task-block__column-name task-block__column-name_content_mark">Оценка</p>
          <p class="task-block__column-name task-block__column-name_content_issue">Дата выдачи</p>
          <p class="task-block__column-name task-block__column-name_content_delivery">Срок сдачи</p>
      </span>
    </div>
    <div class="task-block__content">
      <div class="task-block__task task-container" th:each="task : ${tasks}">
        <a class="task-container__task-name" th:href="'http://localhost:8080/portal/discipline/' + ${disciplineId} + '/task-list/' + ${task.id}" th:text="${task.name}">Лабораторная работа №1</a>
        <div class="task-container__status-list status-list">
          <span class="status-list__task-status status-list__task-status_state_pending">Ожидает</span>
        </div>
        <span class="task-container__task-mark task-mark">
            <p class="task-mark__student-mark">?</p>
            <p class="task-mark__separator"> / </p>
            <p class="task-mark__max-mark" th:text="${task.maxScore}">10</p>
        </span>
        <p class="task-container__task-issue" th:text="${task.formattedDateTimeIssue}">дд.мм.гг</p>
        <p class="task-container__task-delivery" th:text="${task.formattedDateTimeDelivery}">дд.мм.гг</p>
      </div>
    </div>
  </div>
</div>