<link rel="stylesheet" th:href="@{/css/discipline-tabs/discipline-announcements/create-announcement.css}">
<div class="content__header">
    <a th:href="'http://localhost:8080/portal/discipline/' + ${disciplineId} + '/announcements'" class="content__return-button">Назад</a>
    <h2 class="content__header-text">Публикация объявления</h2>
</div>
<div class="content__content-block content-block">
    <div class="content-block__advertisement-creation advertisement-creation">
        <div class="advertisement-creation__header">
            <input class="advertisement-creation__advertisement-subject-input" id="name-announcement" type="text" placeholder="Тема объявления">
        </div>
        <div class="advertisement-creation__content">
            <textarea class="advertisement-creation__advertisement-content" oninput="autoGrow(this)" id="text-announcement" placeholder="Текст объявления"></textarea>
            <button class="advertisement-creation__submit-button" th:data-disciplineId="${disciplineId}" onclick="createAnnouncement(this)">Создать объявление</button>
        </div>
    </div>
</div>
<script th:src="@{/js/create-announcement.js}"></script>