*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  color: #000;
  background-color: #fff;
}

div.container {
  height: 100%;
  width: 100%;
  padding: 0 10%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
}

section.registration {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div.registration-block {
  display: block;
  min-width: 230px;
  padding: 20px;
  border-radius: 20px;
  background-color: #f0f0f0;
}

div.registration-block form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-evenly;
}

div.registration-block form input, div.registration-block form select {
  margin-bottom: 6px;
  padding: 4px 12px;
  border: none;
  border-radius: 6px;
}

div.registration-block form #username-input {

}

div.registration-block form #password-input {

}

div.registration-block form hr {
  width: 100%;
  margin: 4px 0 10px;
  border-width: 0 0 1px 0;
  border-color: #bbb;
}

div.registration-block form #roles-list {
  padding: 4px 8px;
  outline: none;
}

div.registration-block form #email-input {

}

div.registration-block form #fullName-input {

}

div.registration-block form #group-input {
  display: none;
}

div.registration-block form .submit-btn {
  margin-bottom: 0;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  background-color: #d9d6f3;
}

div#error-message {
  display: none;
/*  display: flex;*/
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-width: 230px;
  margin-top: 12px;
  padding: 12px;
  border-radius: 20px;
  color: #9a4a46;
  background-color: #f0f0f0;
}

div#success-message {
  display: none;
  /*  display: flex;*/
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-width: 230px;
  margin-top: 12px;
  padding: 12px;
  border-radius: 20px;
  color: #57863d;
  background-color: #f0f0f0;
}