*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #444;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: #444;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 8px 64px;
    background-color: #eee;
}

.logo__link {
    display: flex;
}

.logo__image {
    content: url("../images/logo.png");
}

.logo__text {
    margin: 0;
    line-height: 14px;
    font-weight: bold;
}

.logo__text_font_lowercase {
    font-size: 12px;
    color: #4286B8;
}

.logo__text_font_uppercase {
    font-style: normal;
    font-size: 14px;
    color: #0262A9;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}

.navigation__link + .navigation__link {
    margin-left: 64px;
}

.icons {
    display: flex;
}

.notification-center__notification-block {
    display: none;
}

.profile__functions-block {
    display: none;
}

.sidebar {
    display: flex;
    flex-direction: column;
    max-width: 286px;
    margin-top: 64px;
}

.sidebar__header {
    display: block;
    margin: 0;
    padding: 16px;
    border-radius: 0 16px 0 0;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    background-color: #ddd;
}

.discipline-navigation {
    display: flex;
    flex-direction: column;
}

.discipline-navigation__discipline-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #ddd;
}

.discipline-list__item_selection_selected {
    padding: 16px 8px 16px 16px;
    background-color: #f4f4f4;
}

.discipline-list__item_selection_unselected {
    padding: 8px 16px;
}

.discipline-list__discipline-name {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.discipline-list__item_selection_selected .discipline-list__discipline-name {
    padding-bottom: 16px;
    border-bottom: 1px solid #999;
}

.tab-navigation {
    display: none;
    margin-top: 16px;
}

.tab-navigation__tab-list {
    padding: 0 0 0 16px;
    list-style: none;
}

.tab-navigation__tab + .tab-navigation__tab {
    margin-top: 8px;
}

.tab-navigation_link {
    padding: 0;
    font-size: 14px;
    line-height: 16px;
}

.sidebar__footer {
    display: block;
    margin: 0;
    padding: 16px;
    border-radius: 0 0 16px 0;
    background-color: #ddd;
}