*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 100%;
    color: #444;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: #444;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 64px;
}

.main__container {
    width: 100%;
    padding: 0 64px;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    max-width: 1360px;
    min-height: 784px;
    margin: 0 auto;
    padding: 0 64px;
    background-color: #fff;
    border-radius: 16px;
}

.content__header {
    display: block;
    width: 100%;
    text-align: center;
}

.content-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

/* Оформление для кнопочек (Создать Редактировать удалить) */

.content-block__links-list {
    display: flex;
    justify-content: flex-end;
    width: 90%;
}

.content-block__link + .content-block__link {
    margin-left: 16px;
    font-size: 14px;
}