*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.5em;
	color: #000;
	background-color: #fff;
}

div.container {
	height: 100%;
	width: 100%;
	padding: 0 10%;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: #000;
}

div.task-list {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: stretch;
}

div.task-list header, div.task-list div {
	display: grid;
	justify-items: center;
	grid-template-columns: auto 150px 120px 120px;
}

div.task-list div span:nth-child(2) {
	padding: 6px 12px 6px 24px;
	border: 1px solid #ddd;
	border-radius: 16px;
	font-size: 0.9rem;
	line-height: 1em;
	background-color: #f5f5f5;
}