<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" th:href="@{/css/discipline_builder.css}"/>
		<script th:src="@{/js/teacher.js}"></script>
		<title>Создание дисциплины</title>
	</head>
	<body>
		<div class="container">
			<section class="discipline-builder">
				<div class="discipline-builder-block">
					<form method="POST">
						<input id="discipline-input" name="discipline" type="text" placeholder="Название дисциплины">
						<input id="group-input" name="group-input" type="text" placeholder="Логин студента">
						<input id="submit-btn" type="button" onclick="createNewDiscipline()" value="Создать дисциплину">
					</form>
				</div>
				<div id="error-message"></div>
			</section>
		</div>
		<footer></footer>
	</body>
</html>