<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/js/script.js}"></script>
    <title>ЭОР</title>
</head>
<body>
<div th:replace="~{fragments/header}"></div>
<main class="main">
    <aside class="main__aside">
        <sidebar class="main__sidebar sidebar">
            <h3 class="sidebar__header">Дисциплины</h3>
            <nav class="sidebar__discipline-navigation discipline-navigation">
                <ul class="discipline-navigation__discipline-list discipline-list">
                    <li class="discipline-list__item_selection_unselected"
                        th:if="${not #lists.isEmpty(disciplines)}"
                        th:each="discipline : ${disciplines}"
                        th:data-discipline-id="${discipline.id}">
                        <p class="discipline-list__discipline-name" th:text="${discipline.name}" th:data-discipline-id="${discipline.id}" onclick="disciplineSelection(this)"></p>
                        <div th:replace="~{fragments/discipline-navigation}"></div>
                    </li>
                </ul>
            </nav>
            <div class="sidebar__footer"></div>
        </sidebar>
    </aside>
    <div class="main__container">
        <section class="main__content content">
            <div th:if="${content}">
                <div th:replace="~{${content}}"></div>
            </div>
            <div th:unless="${content}">
                <h2 class="content__header" th:text="${category}">Заголовок</h2>
                <h2 class="content__header" th:text="${disciplineId}">ID Дисциплины</h2>
            </div>
        </section>
    </div>
</main>
</body>
</html>