<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/registration.css}"/>
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/admin.js}"></script>
    <title>Регистрация</title>
  </head>
  <body>
    <div class="container">
      <section class="registration">
        <div class="registration-block">
          <form method="POST">
            <input id="username-input" name="username" type="text" placeholder="Логин">
            <input id="password-input" name="password" type="password" placeholder="Пароль">
            <hr>
            <select id="roles-list" name="roles" onchange="checkOptionalInput()">
              <option selected disabled hidden>Выберите должность</option>
              <option value="ROLE_STUDENT">Студент</option>
              <option value="ROLE_TEACHER">Преподаватель</option>
              <option value="ROLE_ADMIN">Администратор</option>
            </select>
            <input id="email-input" name="email" type="text" placeholder="Email">
            <input id="fullName-input" name="fullName" type="text" placeholder="ФИО">
            <input id="group-input" name="group" type="text" placeholder="Группа">
            <input id="submit-btn" type="button" onclick="createNewUser()" value="Зарегистрироваться">
          </form>
        </div>
        <div id="error-message"></div>
      </section>
    </div>
    <footer></footer>
  </body>
</html>