<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../static/css/tasks.css">
		<title>Задания</title>
	</head>
	<body>
		<div>
		 	<h2>Задания</h2>
		 	<p><a href="index.html">Главная</a></p>
		 	<div class="task-list">
		 		<header>
		 			<span>Название</span>
		 			<span>Статус</span>
		 			<span>Дата выдачи</span>
		 			<span>Дата сдачи</span>
		 		</header>
		 		<div>
		 			<span><a href="task.html">Задание 1</a></span>
		 			<span>Проверено</span>
		 			<span>дд.мм.гг чч:мм</span>
		 			<span>дд.мм.гг чч:мм</span>
		 		</div>
		 		<div>
		 			<span><a href="task.html">Задание 2</a></span>
		 			<span>Сдано</span>
		 			<span>дд.мм.гг чч:мм</span>
		 			<span>дд.мм.гг чч:мм</span>
		 		</div>
		 		<div>
		 			<span><a href="task.html">Задание 3</a></span>
		 			<span>Ожижает сдачи</span>
		 			<span>дд.мм.гг чч:мм</span>
		 			<span>дд.мм.гг чч:мм</span>
		 		</div>
		 		<div>
		 			<span><a href="task.html">Задание 4</a></span>
		 			<span>Не началось</span>
		 			<span>дд.мм.гг чч:мм</span>
		 			<span>дд.мм.гг чч:мм</span>
		 		</div>
		 		<div>
		 			<span><a href="task.html">Задание 5</a></span>
		 			<span>Не началось</span>
		 			<span>дд.мм.гг чч:мм</span>
		 			<span>дд.мм.гг чч:мм</span>
		 		</div>
		 	</div>
		 </div>
	</body>
</html>
