<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="task.less">
		<title>Задани n</title>
	</head>
	<body>
		<div class="main">
			<h2>Задание n</h2>
			<p><a class="main__link" href="tasks.html">Задания</a></p>
			<div class="main-top">
				<div class="main-top-content">
					<p class="main-top-content__paragraph">Название</p>
					<p class="main-top-content__paragraph">Задание n</p>
				</div>
				<div class="main-top-content">
					<p class="main-top-content__paragraph">Студент</p>
					<p class="main-top-content__paragraph">Маслов Г.О.</p>
				</div>
				<div class="main-top-content">
					<p class="main-top-content__paragraph">Дата сдачи</p>
					<p class="main-top-content__paragraph">дд.мм.гггг</p>
				</div>
				<div class="main-top-content">
					<p class="main-top-content__paragraph">Оценка</p>
					<p class="main-top-content__paragraph">2.0 (макс 2.0)</p>
				</div>
			</div>
			<div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div>
				<p>Файл</p>
			</div>
		</div>
	<script src="main.js"></script>
	</body>
</html>